## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [3]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [1]:
s = "Hi there Sam!"
print(s.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742
print("The diameter of {0} is {1} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(*lst[3][1][2])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
print("The list is dynamic, whereas the tuple has static characteristics ie.tuples is mutable while lists arn't")

The list is dynamic, whereas the tuple has static characteristics

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [7]:
def getDomain(emailid):
  return emailid.split('@')[-1]

In [8]:
print(getDomain("user@domain.com"))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [9]:
def fun(s):
    if 'dog' in s.split():
        return True
    return False

In [12]:
print(fun("dog"))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [13]:
def fun(s):
    return s.split().count("dog")

In [16]:
print(fun("doa dog dog doo"))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [20]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding >= 81:
        return 'Big Ticket'
    elif speeding >= 61:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [21]:
print(caught_speeding(82,False))

Big Ticket

In [22]:
print(caught_speeding(85,True))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [24]:
from prompt_toolkit.styles.style_transformation import to_str
lsts = [['Abhi',8000],['John',7000],['Nila',9000],['Pinky',12000],['Julius',5000]]
tot = 0
for lst in lsts:
  print(lst[1])
  tot+=lst[1]
print("total: " + str(tot))

8000
7000
9000
12000
5000
total: 41000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [18]:
dic1 = {"Empid": "1234", "Empname": "John", "Basicpay": 200000}
dic2 = {"DeptName": "R & d", "DeptId": 69}
dic1.update(dic2)
print(dic1)

{'Empid': '1234', 'Empname': 'John', 'Basicpay': 200000, 'DeptName': 'R & d', 'DeptId': 69}